{% extends 'base.html' %}


{% block title %}

<title>صفحه یافت نشد | صنایع تولیدی حیدری</title>
<meta name="description"
    content="متأسفانه صفحه‌ای که به دنبال آن بودید پیدا نشد. می‌توانید به صفحه اصلی بازگردید یا سایر صفحات سایت را بررسی کنید.">


{% endblock title %}

{% block header %}

<link rel="stylesheet" href="/static/style/pages/404.css">

<link rel="canonical" href="https://gooje.site/404">
<link rel="alternate" hreflang="fa" href="https://gooje.site/404">
<link rel="alternate" hreflang="x-default" href="https://gooje.site/404">

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebPage",
        "name": "صفحه ۴۰۴ - یافت نشد",
        "description": "متاسفانه صفحه مورد نظر شما در گوجه یافت نشد. به گوجه مراجعه کنید تا کافه‌ها، رستوران‌ها و سایر غذاخوری‌های اطراف خود را پیدا کنید.",
        "url": "https://gooje.site/404",
        "potentialAction": {
          "@type": "SearchAction",
          "target": "https://gooje.site/?q={search_term_string}",
          "query-input": "required name=search_term_string"
        },
        "breadcrumb": {
          "@type": "BreadcrumbList",
          "itemListElement": [
            {
              "@type": "ListItem",
              "position": 1,
              "name": "خانه",
              "item": "https://gooje.site"
            }
          ]
        }
    }
</script>


{% endblock header %}

{% block content %}
<main class="error-404">

    <img src="/static/img/tomato.webp" class="gooje" alt="نماد اپلیکیشن گوچه - انتخاب مناسب برای رستوران‌ها و کاربران">

    <img src="/static/img/error-bg.webp" class="error-bg" alt="نماد اپلیکیشن گوچه  که به دیوار خورده " loading="eager">

    <div class="content">
        <h1 class="section_title">
            404
        </h1>

        <p class="title_small">
            همه چی تو گوجه هست جز این صفحه!
        </p>

        <a class="title_smaller cta" href="/">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 576 512" height="25" width="25"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z">
                </path>
            </svg>
            خانه
        </a>

    </div>

</main>
{% endblock content %}