<!doctype html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W0V87QTDKG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-W0V87QTDKG');
    </script>

    {% block title %} {% endblock title %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, user-scalable=no" />
    <meta name="theme-color" content="#fff" />

    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="mobile-web-app-capable" content="yes" />

    <link rel="apple-touch-icon" href="/static/icon/gooje-logo192.png" />
    <link rel="apple-touch-icon" sizes="48x48" href="/static/icon/gooje-logo48.png" />
    <link rel="apple-touch-startup-image" href="/static/icon/gooje-splash.jpg" />

    <link rel="manifest" href="/static/manifest.json" />
    <link rel="shortcut icon" href="/static/icon/gooje.ico" type="image/x-icon" />


    <link rel="preload" href="/static/font/arvand/arvand.ttf" as="font" crossorigin="anonymous">

    <link rel="preload" href="/static/font/iranSans/iran-light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/static/font/iranSans/iran-bold.woff2" as="font" crossorigin="anonymous">

    <link rel="preload" href="/static/font/iranYekan/IRANYekanWebBold.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="/static/font/iranYekan/IRANYekanWebRegular.woff" as="font" crossorigin="anonymous">

    <link rel="preload" href="/static/font/graduate/graduate.woff2" as="font" crossorigin="anonymous">



    <link rel="stylesheet" href="/static/font/imports.css" />
    <link rel="stylesheet" href="/static/style/config.css" />
    <link rel="stylesheet" href="/static/style/theme.css" />
    <link rel="stylesheet" href="/static/style/base.css" />


    <!-- layout  -->
    <link rel="stylesheet" href="/static/style/layout/navbar.css" />
    <link rel="stylesheet" href="/static/style/layout/footer.css" />
    <!-- layout end -->

    <script>
        window.onbeforeunload = function () {
            window.scrollTo(0, 0)
        }
    </script>
    <script src="/static/script/base.js" defer></script>
    <script src="/static/script/nav.js" defer></script>

    <script src="/static/public/lenis.js" defer></script>

    <script defer>
        document.addEventListener('DOMContentLoaded', () => {
            const lenis = new Lenis(
                {
                    smooth: true,
                    duration: 1.5, // Extend the duration of the scroll (higher = longer inertia)
                    easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)), // Custom easing function for inertia effect
                }
            )

            function raf(time) {
                lenis.raf(time)
                requestAnimationFrame(raf)
            }

            requestAnimationFrame(raf)
        })
    </script>

    {% block header %} {% endblock header %}
</head>

<body>
    <div id="root" class="root">
        {% include "layout/navbar.html" %} {% block content %} {% endblock
        content %} {% include "layout/footer.html" %}
    </div>
</body>

</html>