{% extends 'base.html' %}

{% block title %}


<title>کشف بهترین رستوران‌ها، کافه‌ها و غذاخوری‌های نزدیک من با گوجه | وبلاگ گوجه</title>

<meta name="description"
    content="با گوجه، بهترین رستوران‌ها، کافه‌ها، بستنی‌فروشی‌ها و غذاخوری‌های نزدیک خود را پیدا کنید. وبلاگ گوجه به شما راهنمایی می‌کند که بهترین گزینه‌ها را انتخاب کنید.">



{% endblock title %}

{% block header %}

<link href="/simurgh-ssrs/style/blogs.css" rel="stylesheet" />

<link rel="stylesheet" href="/static/style/pages/blogs.css">

{% endblock header %}

{% block content %}
<main class="blogs-container">
    <header class="blogs-header">
        <img class="bg-img" src="/static/img/hero.png" alt="مقالات گوجه درباره بهترین رستوران‌ها، کافه‌ها و غذاخوری‌ها">
        <h1 class="header-title title_hero">مقالات گوجه</h1>
        <h2 class="title_small">جدیدترین مقالات و راهنماها درباره بهترین مکان‌های غذاخوری، کافه‌ها و بیشتر</h2>
        <div class="bg-icons">
            <img src="/static/img/pizza.png" loading="lazy" decoding="async" class="bg-icon" id="pizza"
                alt="پیتزا ایتالیایی خوشمزه | رستوران‌های نزدیک با گوجه">
            <img src="/static/img/burger.png" loading="lazy" decoding="async" class="bg-icon" id="burger"
                alt="برگرهای آبدار و خوشمزه | غذاهای نزدیک با گوجه">
            <img src="/static/img/sushi.png" loading="lazy" decoding="async" class="bg-icon" id="sushi"
                alt="سوشی تازه ژاپنی | رستوران‌های سوشی نزدیک با گوجه">
            <img src="/static/img/abgosht.png" loading="lazy" decoding="async" class="bg-icon" id="abgosht"
                alt="آبگوشت سنتی ایرانی | غذاخوری‌های نزدیک با گوجه">

        </div>
    </header>
    <!-- {{ blogs_body | safe }} -->
</main>
{% endblock content %}