{% extends 'base.html' %}

{% block title %}


<title>تست</title>

{% endblock title %}

{% block header %}

<link href="/simurgh-ssrs/style/blogs.css" rel="stylesheet" />

<link rel="stylesheet" href="/static/style/pages/blogs.css">

{% endblock header %}

{% block content %}
<main class="blogs-container">
    <!-- <header class="products-header"
        style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(&quot;/static/image/header.webp&quot;);">
        <h1 class="header-title title_hero">مقالات تست</h1>
    </header>
    {{ blogs_body | safe }} -->
</main>
{% endblock content %}