{% extends 'base.html' %}

{% block title %}


<title>کشف بهترین رستوران‌ها، کافه‌ها و غذاخوری‌های نزدیک من با گوجه | وبلاگ گوجه</title>

<meta name="description"
  content="با گوجه، بهترین رستوران‌ها، کافه‌ها، بستنی‌فروشی‌ها و غذاخوری‌های نزدیک خود را پیدا کنید. وبلاگ گوجه به شما راهنمایی می‌کند که بهترین گزینه‌ها را انتخاب کنید.">



{% endblock title %}

{% block header %}

<link rel="stylesheet" href="/static/style/pages/blogs.css">

<script src="/static/script/blogs.js" defer></script>


<link rel="canonical" href="https://gooje.site/blogs">
<link rel="alternate" hreflang="fa" href="https://gooje.site/blogs">
<link rel="alternate" hreflang="x-default" href="https://gooje.site/blogs">

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Blog",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "https://gooje.site/blogs"
        },
        "name": "مقالات گوجه",
        "description": "مطالب و مقالات مرتبط با رستوران‌ها، کافه‌ها، و کسب‌و‌کارهای غذایی تهران و ایران، با راهنمایی‌ها و توصیه‌هایی از گوجه.",
        "url": "https://gooje.site/blogs",
        "publisher": {
          "@type": "Organization",
          "name": "گوجه",
          "url": "https://gooje.site",
          "logo": {
            "@type": "ImageObject",
            "url": "https://gooje.site/static/icon/gooje-logo192.png",
            "width": 200,
            "height": 200
          }
        },
        "author": {
          "@type": "Organization",
          "name": "گوجه"
        },
        "blogPost": [
          {
            "@type": "BlogPosting",
            "headline": "چگونه رستوران مناسب برای نیازهای غذایی خود را انتخاب کنیم؟ | گوجه",
            "image": "https://gooje.site/simurgh-record/bt-10-4b0fb58429dc1994",
            "author": {
              "@type": "Organization",
              "name": "گوجه"
            },
            "publisher": {
              "@type": "Organization",
              "name": "گوجه"
            },
            "datePublished": "2024-10-03",
            "articleBody": "با استفاده از اپلیکیشن گوجه، رستوران‌هایی که گزینه‌های وگان، گیاهی و بدون گلوتن یا ... دارند را به راحتی پیدا کنید و تجربه‌ای عالی از غذا خوردن با نیازهای غذایی خاص خود داشته باشید."
          },
          {
            "@type": "BlogPosting",
            "headline": "چگونه رستوران مناسب برای هر مناسبتی را با گوجه پیدا کنیم",
            "image": "https://gooje.site/simurgh-record/bt-8-db55dfa8deb78e0f",
            "author": {
              "@type": "Organization",
              "name": "گوجه"
            },
            "publisher": {
              "@type": "Organization",
              "name": "گوجه"
            },
            "datePublished": "2024-10-02",
            "articleBody": "با استفاده از اپلیکیشن گوجه، بهترین رستوران‌ها و کافه‌ها برای قرارهای عاشقانه، شام‌های خانوادگی و دورهمی‌های دوستانه را به راحتی پیدا کنید. گوجه با فیلترهای خاص به شما کمک می‌کند انتخاب بهتری داشته باشید."
          }
        ]
      }
      
</script>

{% endblock header %}

{% block content %}
<main class="blogs-container">
  <header class="blogs-header">
    <img class="bg-img" src="/static/img/hero.jpg" alt="مقالات گوجه درباره بهترین رستوران‌ها، کافه‌ها و غذاخوری‌ها">
    <h1 class="header-title title_hero">مقالات گوجه</h1>
    <p class="title_small">جدیدترین مقالات و راهنماها درباره بهترین مکان‌های غذاخوری، کافه‌ها و بیشتر</p>
    <div class="bg-icons">

      <div class="bg-icon" id="pizza">
        <img src="/static/img/pizza.webp" loading="lazy" decoding="async"
          alt="پیتزا ایتالیایی خوشمزه | رستوران‌های نزدیک با گوجه">
      </div>

      <div class="bg-icon" id="burger">
        <img src="/static/img/burger.webp" loading="lazy" decoding="async"
          alt="برگرهای آبدار و خوشمزه | غذاهای نزدیک با گوجه">
      </div>

      <div class="bg-icon" id="sushi">
        <img src="/static/img/sushi.webp" loading="lazy" decoding="async"
          alt="سوشی تازه ژاپنی | رستوران‌های سوشی نزدیک با گوجه">
      </div>

      <div class="bg-icon" id="abgosht">
        <img src="/static/img/abgosht.webp" loading="lazy" decoding="async"
          alt="آبگوشت سنتی ایرانی | غذاخوری‌های نزدیک با گوجه">
      </div>

    </div>
  </header>

  <div class="simurgh--blogs">
    {{ blogs_body | safe }}
  </div>


</main>
{% endblock content %}