{% extends 'base.html' %}

{% block title %}


<title>{{ blog.title }}</title>

<meta name="description" content="{{ blog.detail }}">



<link rel="canonical" href="https://gooje.app/blogs/{{ blog.slug }}/">
<link rel="alternate" hreflang="fa" href="https://gooje.app/blogs/{{ blog.slug }}/">
<link rel="alternate" hreflang="x-default" href="https://gooje.app/blogs/{{ blog.slug }}/" />

{% endblock title %}

{% block header %}

<link rel="stylesheet" href="/site-static/style/pages/blog.css">

<script src="/site-static/script/blog.js" defer></script>

{% endblock header %}

{% block content %}
{{ blog_body | safe }}
{% endblock content %}
