footer.footer-container {
    width: 100%;

    display: flex;
    flex-direction: column;

    padding: 3em 2em;

    background-color: white;

    position: relative;
    isolation: isolate;

    z-index: 10;

    .footer-wrapper {
        display: flex;
        flex-wrap: wrap;
        row-gap: 2em;

        width: 100%;

        .footer-gooje {
            display: flex;
            flex-direction: column;
            width: clamp(0px, 100%, 800px);

            @media screen and (max-width: 768px) {
                margin-bottom: 1.5em;
            }

            .footer-title {
                margin-bottom: 0.5em;

                display: flex;
                align-items: center;
                gap: 0.5em;
            }

            .footer-description {
                margin-right: 1.5em;
                width: 80%;
                text-wrap: pretty;
                line-height: 2em;

                @media screen and (max-width: 768px) {
                    width: 100%;
                }
            }
        }

        .footer-links {
            display: flex;
            flex-direction: column;

            margin: 0 auto;

            .gooje-socials {
                width: 100%;

                display: flex;
                flex-wrap: wrap;

                column-gap: calc(5vw + 10px);
                row-gap: calc(2.5vh + 5px);

                margin-bottom: 1em;

                @media screen and (max-width: 768px) {
                    justify-content: center;
                    margin-bottom: 1.5em;
                }

                .social {
                    border-radius: 100vmax;
                    color: white;

                    width: 54px;
                    aspect-ratio: 1;

                    cursor: pointer;

                    display: grid;
                    place-items: center;

                    position: relative;
                    isolation: isolate;
                    overflow: hidden;

                    &::before {
                        content: '';
                        position: absolute;

                        width: 0;
                        height: 0;
                        border-radius: 100vmax;
                        background-color: white;

                        z-index: -1;

                        transition: all 0.5s
                            cubic-bezier(0.45, 0.02, 0.09, 0.98);
                    }
                    &:hover {
                        &.telegram {
                            svg {
                                color: #08a0e9;
                            }
                        }
                        &.x {
                            svg {
                                color: black;

                                path {
                                    fill: black;
                                }
                            }
                        }
                        &.instagram {
                            svg {
                                color: #bb2d93;
                            }
                        }
                        &::before {
                            width: 90%;
                            height: 90%;
                        }
                    }

                    svg {
                        margin: 12px;

                        color: white;

                        transition: color 0.5s
                            cubic-bezier(0.45, 0.02, 0.09, 0.98);
                    }

                    &.telegram {
                        background: linear-gradient(
                                to bottom,
                                rgba(255, 255, 255, 0.2),
                                rgba(0, 0, 0, 0.15)
                            ),
                            #08a0e9;
                    }
                    &.x {
                        background: linear-gradient(
                                to bottom,
                                rgba(255, 255, 255, 0.2),
                                rgba(0, 0, 0, 0.2)
                            ),
                            linear-gradient(-35deg, #1b3638 30%, #000000 75%);
                    }
                    &.instagram {
                        background: linear-gradient(
                                to bottom,
                                rgba(255, 255, 255, 0.1),
                                rgba(0, 0, 0, 0.1)
                            ),
                            linear-gradient(
                                180deg,
                                #f99257 0%,
                                #e42d59 25%,
                                #bb2d93 65%,
                                #7738c5 100%
                            );
                    }
                }
            }

            .site-links {
                display: flex;
                column-gap: 6em;
                row-gap: 4vh;

                @media screen and (max-width: 425px) {
                    flex-direction: column;
                    align-items: center;
                }

                .link-column {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    min-width: 140px;

                    @media screen and (max-width: 425px) {
                        align-items: center;
                    }

                    .column-head {
                        margin-bottom: 1em;
                    }

                    .column-link {
                        margin-bottom: 1em;

                        padding: 0.2em 0;

                        position: relative;
                        isolation: isolate;

                        &::before {
                            content: '';
                            position: absolute;

                            bottom: 0;
                            right: 0;

                            width: 100%;
                            height: 1px;
                            background: var(--ten-percent);

                            transform: scaleX(0);
                            transform-origin: right center;

                            transition: transform 0.6s
                                cubic-bezier(0.19, 1, 0.22, 1);
                        }

                        &:hover {
                            &::before {
                                transition-duration: 0.4s;

                                transform: scaleX(1);

                                transform-origin: left center;
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer-00team {
    width: 100%;
    min-height: 200px;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    justify-content: center;

    text-align: center;
    background: #e13a34;

    padding: 2rem;

    color: white;
    z-index: 10;

    .fa {
        line-height: 2em;
    }

    .en {
        direction: ltr;
    }

    .created {
        display: flex;
        flex-direction: column;
        gap: 1em;

        .team-00 {
            width: 100%;
            display: inline-block;

            font-family: 'yekanBold';
            letter-spacing: 2px;
            color: black;
        }
    }
}
