.simurgh--blog-fnd {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 0 auto;

    min-height: 100vh;

    position: relative;
    isolation: isolate;

    overflow: hidden;

    $transformY: 136px;
    $anim_delay: 1s;

    z-index: 2;

    .scene {
        width: 100%;

        height: 150vh;
    }

    .blog-intro {
        position: fixed;
        z-index: -1;

        top: calc(50vh - 50%);

        perspective: 1000px;

        height: 100%;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media screen and (max-width: 768px) {
            padding: 0 1em;
        }

        .blog-thumbnail-container {
            position: relative;

            transform: translateY($transformY);

            z-index: 1;

            width: clamp(0px, 100%, 700px);
            height: 400px;

            background-color: white;
            border-radius: 1rem;

            perspective: 1000px;

            overflow: hidden;

            will-change: top, transform;
            animation: default-trans-anim 0.7s $anim_delay
                cubic-bezier(0.33, 1, 0.68, 1) forwards;

            @media screen and (max-width: 768px) {
                height: 300px;
            }

            .blog-thumbnail {
                width: 100%;
                height: 100%;

                object-fit: cover;
            }
        }

        .blog-title {
            position: relative;

            transform: translateY(calc(-1 * $transformY));

            width: clamp(0px, 100%, 700px);

            perspective: 1000px;

            margin-top: 1em;

            font-size: clamp(1.2rem, 2.3vw + 0.7rem, 2.1rem);
            font-family: 'iranBold';
            text-align: center;
            text-wrap: pretty;

            will-change: top, transform;
            animation: default-trans-anim 0.7s $anim_delay
                cubic-bezier(0.33, 1, 0.68, 1) forwards;

            span {
                will-change: transform;

                display: inline-block;
            }
        }

        .cbg {
            position: relative;
            transform: translateY(calc(-1 * $transformY));

            perspective: 1000px;

            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2em;

            will-change: top, transform;
            animation: default-trans-anim 0.7s $anim_delay
                cubic-bezier(0.33, 1, 0.68, 1) forwards;

            span {
                display: flex;
                align-items: center;

                will-change: transform;

                font: inherit;

                &:first-child {
                    font-family: 'yekan';
                }
            }
        }

        .come-down-container {
            position: absolute;
            bottom: 35px;

            display: flex;
            align-items: center;
            justify-content: center;

            .scrolldown {
                /* copy from here */
                --color: rgb(0, 0, 0);
                --sizeX: 30px;
                --sizeY: 50px;

                position: relative;
                width: var(--sizeX);
                height: var(--sizeY);

                scale: 0.9;

                margin-left: var(sizeX / 2);

                border: 2px solid var(--color);
                border-radius: 50px;

                &::before {
                    content: '';
                    position: absolute;
                    top: 1px;
                    left: 50%;
                    transform: translateX(-50%);

                    width: 6px;
                    height: 6px;

                    background-color: var(--color);
                    border-radius: 100%;

                    animation: scrolldown-anim 2s infinite;

                    box-shadow: 0px -5px 3px 1px #ffffff66;
                }

                @keyframes scrolldown-anim {
                    0% {
                        opacity: 0;
                        height: 6px;
                    }
                    40% {
                        opacity: 1;
                        height: 10px;
                    }
                    80% {
                        transform: translate(-50%, 15px);
                        height: 10px;
                        opacity: 0;
                    }
                    100% {
                        height: 3px;
                        opacity: 0;
                    }
                }
                .chevrons {
                    position: absolute;
                    bottom: 0;
                    transform: translateY(25px);
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .chevrondown {
                        position: relative;
                        border: solid #ff0002;
                        border-width: 0 3px 3px 0;
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        transform: rotate(45deg);

                        &:nth-child(odd) {
                            animation: pulse 1s ease infinite alternate;
                        }
                        &:nth-child(even) {
                            animation: pulse 1s ease infinite alternate 250ms;
                        }
                    }

                    @keyframes pulse {
                        from {
                            opacity: 0;
                        }
                        to {
                            opacity: 0.5;
                        }
                    }
                }
                /*copy until here */
            }
        }

        @keyframes default-trans-anim {
            to {
                transform: translateY(0);
            }
        }
    }

    .simurgh--blog-options {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 2em;

        width: clamp(0px, 100%, 1000px);

        padding: 0 1em;

        z-index: 4;

        @media screen and (max-width: 1024px) {
            justify-content: center;
            column-gap: 2em;
        }
        @media screen and (max-width: 768px) {
            padding: 0 2em;
        }
        @media screen and (max-width: 330px) {
            padding: 0 1em;
        }

        .simurgh--blog-option {
            display: flex;

            font-size: clamp(0.8rem, 0.4rem + 1.6vw, 1rem);
            font-family: 'yekan';

            padding-bottom: 1em;
            border-bottom: 2px solid var(--addon-percent);

            gap: 0.5em;

            @media screen and (max-width: 768px) {
                width: 100%;
                align-items: center;
                justify-content: center;
            }

            svg {
                width: 25px;
                height: 25px;
            }

            div {
                display: flex;
                align-items: center;
                gap: 0.5em;
            }
        }
    }

    .simurgh--blog-preview {
        width: clamp(0px, 100%, 1000px);

        padding: 4rem 2em;

        z-index: 4;

        @media screen and (max-width: 330px) {
            padding: 4rem 1em;
        }

        h1 {
            margin-bottom: 1em;
            font-family: 'iranBold';
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'iranSans';
            margin-bottom: 0.5em;
        }

        p {
            margin-bottom: 1em;
            font-family: yekan;
        }

        hr {
            margin-block: 2rem;
        }

        img,
        video {
            margin-block: 2rem;
        }
    }
}

.addon-svg {
    position: fixed;

    width: 500px;
    aspect-ratio: 1 / 1;

    object-fit: cover;
    filter: blur(5px);
    rotate: 20deg;

    will-change: transform;

    opacity: 0;

    z-index: 1;
    transition: opacity 1s ease-in-out;

    &#sec {
        bottom: 25%;
        right: 0;

        @media screen and (max-width: 1440px) {
            right: -16%;
        }
        @media screen and (max-width: 1024px) {
            right: 30%;
        }
    }
    &#first {
        bottom: 5%;
        left: 0;
        animation-delay: 0.5s;

        @media screen and (max-width: 1440px) {
            left: -16%;
        }
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }

    svg {
        width: 100%;
        height: 100%;

        opacity: 0.4;
    }
}

.related-blogs {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 4;

    h3 {
        font-size: clamp(1.6rem, 2.9vw + 1.3rem, 2.8rem);
        font-family: 'iranBold';

        margin-bottom: 0.5em;
    }

    .related-wrapper {
        width: 100%;
        display: flex;
        align-items: center;

        gap: calc(3vw + 5px);

        padding: 4rem 2rem;
        padding-bottom: 2rem;

        margin-bottom: 3rem;

        overflow-x: auto;

        &::-webkit-scrollbar {
            width: 5px;
        }

        article {
            display: flex;
            flex-direction: column;
            align-items: center;

            flex-shrink: 0;

            width: 350px;
            height: 530px;

            background: var(--thirty-percent);
            border-radius: 1rem;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;

            position: relative;
            isolation: isolate;

            > svg {
                position: absolute;
                top: 0;

                width: 100%;

                transform: translateY(-100%);

                z-index: 2;
            }

            .img-wrapper {
                flex-shrink: 0;

                display: flex;
                align-items: center;
                justify-content: center;

                position: relative;
                width: 100%;
                height: 250px;

                border-radius: inherit;
                background-color: #f04f4f;
                clip-path: ellipse(70% 70% at 50% 30%);

                overflow: hidden;
            }

            > div {
                display: none;
            }

            img {
                width: 100%;
                aspect-ratio: 1;

                object-fit: cover;
            }

            .data-wrapper {
                width: 100%;
                flex: 1 0 0;

                margin-top: 1rem;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                align-items: center;

                padding: 0.5rem;
            }

            h2 {
                text-align: center;
                text-wrap: pretty;

                font-size: clamp(0.9rem, 0.5rem + 1.9vw, 1.25rem);
                font-family: 'yekanBold';

                max-height: 60px;
            }

            p {
                display: -webkit-box;

                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;

                text-align: center;

                font-size: clamp(0.7rem, 0.4rem + 1.4vw, 0.9rem);
                font-family: 'yekan';

                text-overflow: ellipsis;
                overflow: hidden;
            }

            a {
                width: 100%;

                padding: 0.8em;

                font-size: clamp(0.7rem, 0.4rem + 1.4vw, 0.9rem);
                font-family: 'yekan';

                background-color: var(--ten-percent);
                color: white;
                border-radius: 0.6rem;

                text-align: center;
            }
        }
    }
}
