.simurgh--blog-fnd {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: clamp(0px, 100%, 1000px);
    margin: 0 auto;

    min-height: 100vh;

    position: relative;
    isolation: isolate;

    overflow: hidden;

    $transformY: 136px;
    $anim_delay: 1s;

    .scene {
        width: 100%;

        height: 150vh;
    }

    .blog-intro {
        position: fixed;

        top: calc(50vh - 50%);

        perspective: 1000px;

        height: 100%;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media screen and (max-width: 768px) {
            padding: 0 1em;
        }

        .blog-thumbnail-container {
            position: relative;

            transform: translateY($transformY);

            z-index: 1;

            width: clamp(0px, 100%, 700px);
            height: 400px;

            background-color: white;
            border-radius: 1rem;

            perspective: 1000px;

            overflow: hidden;

            will-change: top, transform;
            animation: default-trans-anim 0.7s $anim_delay
                cubic-bezier(0.33, 1, 0.68, 1) forwards;

            @media screen and (max-width: 768px) {
                height: 300px;
            }

            .blog-thumbnail {
                width: 100%;
                height: 100%;

                object-fit: cover;
            }
        }

        .blog-title {
            position: relative;

            transform: translateY(calc(-1 * $transformY));

            width: clamp(0px, 100%, 700px);

            perspective: 1000px;

            margin-top: 1em;

            font-size: clamp(1.2rem, 2.3vw + 0.7rem, 2.1rem);
            font-family: 'iranBold';
            text-align: center;
            text-wrap: pretty;

            will-change: top, transform;
            animation: default-trans-anim 0.7s $anim_delay
                cubic-bezier(0.33, 1, 0.68, 1) forwards;

            span {
                will-change: transform;

                display: inline-block;
            }
        }

        .cbg {
            position: relative;
            transform: translateY(calc(-1 * $transformY));

            perspective: 1000px;

            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2em;

            will-change: top, transform;
            animation: default-trans-anim 0.7s $anim_delay
                cubic-bezier(0.33, 1, 0.68, 1) forwards;

            span {
                display: flex;
                align-items: center;

                will-change: transform;

                font: inherit;

                &:first-child {
                    font-family: 'yekan';
                }
            }
        }

        @keyframes default-trans-anim {
            to {
                transform: translateY(0);
            }
        }
    }

    .simurgh--blog-options {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 2em;

        padding: 0 1em;

        @media screen and (max-width: 1024px) {
            justify-content: center;
            column-gap: 2em;
        }
        @media screen and (max-width: 768px) {
            padding: 0 2em;
        }
        @media screen and (max-width: 330px) {
            padding: 0 1em;
        }

        .simurgh--blog-option {
            display: flex;

            font-size: clamp(0.8rem, 0.4rem + 1.6vw, 1rem);
            font-family: 'yekan';

            padding-bottom: 1em;
            border-bottom: 2px solid var(--addon-percent);

            gap: 0.5em;

            @media screen and (max-width: 768px) {
                width: 100%;
                align-items: center;
                justify-content: center;
            }

            svg {
                width: 25px;
                height: 25px;
            }

            div {
                display: flex;
                align-items: center;
                gap: 0.5em;
            }
        }
    }

    .simurgh--blog-preview {
        padding: 4rem 2em;

        @media screen and (max-width: 330px) {
            padding: 4rem 1em;
        }

        h1 {
            margin-bottom: 1em;
            font-family: 'iranBold';
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'iranSans';
            margin-bottom: 0.5em;
        }

        p {
            margin-bottom: 1em;
            font-family: yekan;
        }

        hr {
            margin-block: 2rem;
        }

        img,
        video {
            margin-block: 2rem;
        }
    }
}

.addon-svg {
    position: fixed;

    width: 500px;
    aspect-ratio: 1 / 1;

    object-fit: cover;
    filter: blur(5px);
    rotate: 20deg;

    will-change: transform;

    opacity: 0;

    z-index: 1;
    transition: opacity 1s ease-in-out;

    &#sec {
        bottom: 25%;
        right: 0;

        @media screen and (max-width: 1440px) {
            right: -16%;
        }
        @media screen and (max-width: 1024px) {
            right: 30%;
        }
    }
    &#first {
        bottom: 5%;
        left: 0;
        animation-delay: 0.5s;

        @media screen and (max-width: 1440px) {
            left: -16%;
        }
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }

    svg {
        width: 100%;
        height: 100%;

        opacity: 0.4;
    }
}

.related-blogs {
    display: none;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        font-size: clamp(1.6rem, 2.9vw + 1.3rem, 2.8rem);
        font-family: 'iranBold';

        margin-bottom: 0.5em;
    }

    .related-wrapper {
        width: 100%;

        display: flex;
        align-items: center;

        gap: 3rem;
    }
}
