main.home {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: black;

    position: relative;
    isolation: isolate;

    section.hero {
        width: 100%;
        height: 90vh;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        gap: 2em;

        background-color: #000000;

        position: relative;
        isolation: isolate;
        overflow: hidden;

        @media screen and (max-width: 768px) {
            padding: 7vh 5vw;
            height: auto;
            min-height: 90vh;
        }

        @media screen and (max-height: 730px) {
            height: 95vh;
        }
        @media screen and (max-height: 660px) {
            height: 100vh;
        }

        img.hero-bg {
            aspect-ratio: 16/9;
            height: 100%;

            position: absolute;
            z-index: -1;
        }

        .hero-header {
            display: flex;
            flex-direction: column;
            align-items: center;

            color: white;

            margin-top: -8vh;

            h2 {
                opacity: 0.8;
            }

            h1 {
                font-size: 3em;
            }
        }

        .foods-container {
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            height: 200px;

            position: relative;
            isolation: isolate;

            @media screen and (max-width: 1024px) {
                height: 150px;
            }
            @media screen and (max-width: 768px) {
                height: 125px;
            }
            @media screen and (max-width: 600px) {
                height: 100px;
            }
            @media screen and (max-width: 425px) {
                height: 75px;
            }

            img {
                height: 100%;
                aspect-ratio: 1/1;
                object-fit: contain;

                will-change: top;

                position: relative;
                top: 1000px;

                @keyframes image-slideup {
                    0% {
                        top: 1000px;
                    }
                    50% {
                        top: -30px;
                    }
                    100% {
                        top: 0px;
                    }
                }

                &.tomato {
                    z-index: 3;
                    animation: image-slideup 1s
                        cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;
                    transform: scale(1.9) translateY(10px);
                }
                &.burger,
                &.sushi {
                    z-index: 2;

                    animation: image-slideup 1s 0.2s
                        cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;
                }
                &.abgosht,
                &.pizza {
                    z-index: 1;

                    animation: image-slideup 1s 0.4s
                        cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;
                }

                &.burger {
                    transform: scale(1.5) translateY(10px) translateX(-10px);
                }
                &.pizza {
                    transform: scale(1.3) translateY(-15px) translateX(-50px);

                    @media screen and (max-width: 600px) {
                        transform: scale(1.3) translateY(5px) translateX(-30px);
                    }
                }
                &.sushi {
                    transform: scale(1.5) translateY(10px) translateX(10px);
                }
                &.abgosht {
                    transform: scale(1.25) translateY(-25px) translateX(25px)
                        rotate(-30deg);

                    @media screen and (max-width: 600px) {
                        transform: scale(1.1) translateY(-10px) translateX(30px)
                            rotate(-30deg);
                    }
                }
            }

            &::after {
                content: '';

                position: absolute;
                bottom: -150px;

                height: 30px;

                background-image: radial-gradient(
                    white -39%,
                    transparent 40%,
                    transparent 40%
                );

                width: 0;
                will-change: width;

                animation: shadow-width 0.5s 1s
                    cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;

                @keyframes shadow-width {
                    from {
                        width: 0;
                    }
                    to {
                        width: 100%;
                    }
                }

                @media screen and (max-width: 1024px) {
                    background-image: radial-gradient(
                        white -39%,
                        transparent 50%,
                        transparent 40%
                    );

                    bottom: -130px;
                }
                @media screen and (max-width: 768px) {
                    background-image: radial-gradient(
                        white -39%,
                        transparent 55%,
                        transparent 40%
                    );
                    bottom: -120px;
                }
                @media screen and (max-width: 425px) {
                    background-image: radial-gradient(
                        white -39%,
                        transparent 60%,
                        transparent 40%
                    );
                    bottom: -110px;
                }
            }
        }

        .ctas {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            gap: 1rem;

            @media screen and (max-width: 768px) {
                flex-direction: column-reverse;
            }

            .cta {
                transform: translateY(20vh);
                padding: 1em 1.2em;

                min-width: 200px;

                font-family: 'yekanBold';

                border-radius: 8px;
                background-color: white;
                color: black;

                text-align: center;

                position: relative;
                isolation: isolate;

                &.main {
                    background-color: rgba(255, 255, 255, 0.5);
                    color: white;

                    .btn-bg {
                        background-color: var(--ten-percent);
                        border-radius: 6px;
                        opacity: 1;

                        position: absolute;
                        inset: 2px;
                        z-index: 2;
                    }

                    .blur-wrapper {
                        position: absolute;
                        inset: 0;

                        width: 100%;
                        height: 100%;

                        border-radius: inherit;

                        z-index: 1;

                        overflow: hidden;

                        .bg-blur {
                            width: 100%;
                            height: 100%;

                            will-change: transform;

                            background: radial-gradient(
                                19.1205% 46.9112% at 50% 50%,
                                rgb(255, 255, 255) 0%,
                                rgba(255, 255, 255, 0) 100%
                            );

                            animation: blur-anim 3s linear infinite;

                            @keyframes blur-anim {
                                0% {
                                    transform: translate(-50%, -50%);
                                }
                                25% {
                                    transform: translate(50%, -50%);
                                }
                                50% {
                                    transform: translate(50%, 50%);
                                }
                                75% {
                                    transform: translate(-50%, 50%);
                                }
                                100% {
                                    transform: translate(-50%, -50%);
                                }
                            }
                        }
                    }

                    span {
                        position: relative;
                        z-index: 3;
                    }
                }
            }
        }
    }

    section.features {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: calc(10vw + 20px);
        padding: 7vh 5vw;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        aside.features-details {
            width: clamp(0px, 100%, 500px);

            display: flex;
            flex-direction: column;

            .subheader {
                opacity: 0.7;
                margin-bottom: 1.5em;
            }
            .header {
                font-size: clamp(1.2rem, 2.3vw + 0.7rem, 2.1rem);
                line-height: 1.5em;
                margin-bottom: 0.5em;
                text-wrap: pretty;
            }
            .details {
                line-height: 1.8em;

                margin-bottom: 4em;
            }
            .extra-features {
                width: 100%;

                display: flex;
                align-items: center;
                gap: 2em;

                margin-bottom: 3em;

                @media screen and (max-width: 768px) {
                    flex-direction: column;
                }

                .extra-feature {
                    display: flex;
                    flex-direction: column;

                    &.search {
                        svg {
                            animation: search-floating 3s ease-in-out infinite;
                            @keyframes search-floating {
                                0%,
                                100% {
                                    transform: translateY(0) translateX(0);
                                }
                                50% {
                                    transform: translateY(-10px) translateX(5px);
                                }
                            }
                        }
                    }

                    svg {
                        margin-bottom: 1em;
                    }

                    .feature-subheader {
                        margin-bottom: 1em;
                        font-family: 'iranBold';
                    }

                    .comments-icon {
                        position: relative;
                        isolation: isolate;

                        width: fit-content;

                        .dot {
                            position: absolute;

                            width: 4px;
                            height: 4px;
                            border-radius: 100vmax;

                            background-color: black;

                            z-index: 1;

                            top: 45%;
                            transform: translateY(-200%);

                            animation: opacity-dot 2s 0.1s ease-in-out infinite;

                            &:nth-child(2) {
                                animation-delay: 0.2s;
                                transform: translateY(-200%) translateX(0.5em);
                            }
                            &:nth-child(3) {
                                animation-delay: 0;
                                transform: translateY(-200%) translateX(-0.5em);
                            }

                            @keyframes opacity-dot {
                                from {
                                    opacity: 0.1;
                                }
                                to {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }

            .features-cta {
                align-items: center;
                display: flex;
                gap: 1em;

                width: fit-content;

                border-radius: 8px;

                color: white;
                background-color: var(--ten-percent);

                padding: 1em 2em;

                svg {
                    transition: 0.3s ease-in-out;
                }

                &:hover {
                    svg {
                        transform: translateX(-0.5em);
                    }
                }
            }
        }
        aside.features-img {
            width: clamp(0px, 100%, 600px);
            aspect-ratio: 1/1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    section.features-list {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        padding: 5vh 5vw;

        position: relative;
        isolation: isolate;

        overflow: hidden;

        .list-header {
            text-align: center;

            width: 100%;

            font-size: clamp(1.2rem, 2.3vw + 0.7rem, 2.1rem);
            line-height: 1.5em;
            margin-bottom: 2em;
        }

        .extra-features {
            width: clamp(0px, 100%, 1500px);

            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            column-gap: 2vw;

            @media screen and (max-width: 1024px) {
                justify-content: center;
                column-gap: 4vw;
                row-gap: 3em;
            }
            .extra-feature {
                width: clamp(0px, 100%, 300px);

                display: flex;
                align-items: center;
                flex-direction: column;

                will-change: transform;

                .extra-icon {
                    margin-bottom: 1em;
                }
                .extra-subheader {
                    margin-bottom: 1em;
                    text-wrap: pretty;
                    text-align: center;
                }
                .extra-p {
                    text-align: center;
                    text-wrap: pretty;
                }
            }
        }
    }

    section.perfect-date {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: calc(10vw + 20px);
        padding: 7vh 5vw;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        aside.date-details {
            width: clamp(0px, 100%, 500px);

            display: flex;
            flex-direction: column;

            .subheader {
                opacity: 0.7;
                margin-bottom: 1.5em;
            }
            .header {
                font-size: clamp(1.2rem, 2.3vw + 0.7rem, 2.1rem);
                line-height: 1.5em;
                margin-bottom: 0.5em;
                text-wrap: pretty;
            }
            .details {
                line-height: 1.8em;

                margin-bottom: 4em;
            }
            .date-cta {
                align-items: center;
                color: white;

                display: flex;
                gap: 1em;
                width: fit-content;
                border-radius: 8px;
                background-color: var(--ten-percent);
                padding: 1em 2em;

                svg {
                    transition: 0.3s ease-in-out;
                }

                &:hover {
                    svg {
                        transform: translateX(-0.5em);
                    }
                }
            }
        }
        .date-imgs {
            width: clamp(0px, 100%, 600px);
            aspect-ratio: 1/1;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 36px;
            grid-row-gap: 26px;

            position: relative;
            isolation: isolate;

            @media screen and (max-width: 425px) {
                grid-column-gap: 16px;
            }

            .date-img-bg {
                position: absolute;

                width: 140%;
                height: 140%;

                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                background-image: radial-gradient(
                    var(--ten-percent) -80%,
                    transparent 70%,
                    transparent 100%
                );

                will-change: opacity;
                transition: 0.2s opacity;

                z-index: -1;
            }

            img {
                object-fit: cover;

                aspect-ratio: 1/1;
                width: 100%;

                border-radius: 8px;

                position: relative;

                will-change: top;
                transition: 0.2s top;

                top: 100%;
            }

            img:nth-child(1),
            img:nth-child(3) {
                transform: translateY(40px);
            }
        }
    }
    section.feedback {
        width: 100%;
        height: 85vh;

        position: relative;
        isolation: isolate;

        margin: 5vh 0;

        overflow: hidden;

        .feedback-wall {
            $WALL_GAP: 3px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: $WALL_GAP;

            background: var(--ten-percent);

            width: 100%;
            height: 100%;

            position: absolute;

            z-index: -1;

            &::before {
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                z-index: 1;
                background: linear-gradient(
                    rgba(0, 0, 0, 0.1),
                    rgba(0, 0, 0, 0.4)
                );
                backdrop-filter: blur(3px);
            }

            .wall-row {
                height: calc(100% / 3 - $WALL_GAP);
                width: 100%;

                display: flex;
                gap: 3px;

                animation: pictures-slide 120s both linear infinite;

                &:nth-child(2) {
                    animation: pictures-slide-reverse 120s both linear infinite;

                    @keyframes pictures-slide-reverse {
                        0% {
                            transform: translateX(50%);
                        }
                        50% {
                            transform: translateX(0);
                        }
                        100% {
                            transform: translateX(50%);
                        }
                    }
                }

                @keyframes pictures-slide {
                    0% {
                        transform: translateX(0);
                    }
                    50% {
                        transform: translateX(50%);
                    }
                    100% {
                        transform: translateX(0);
                    }
                }

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .feedback-data {
            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            flex-direction: column;

            padding: 5vh 0;

            .data-row {
                width: 100%;
                height: 100%;

                display: flex;
                align-items: center;
                justify-content: space-evenly;
                // gap: 5vw;

                will-change: transform;

                @media screen and (max-width: 769px) {
                    padding: 1em;
                }

                &:not(.active, .prev) {
                    display: none;
                    position: absolute;
                    transform: translateY(1000px);
                }
                &.prev,
                &.active {
                    position: absolute;
                    top: 0;
                }

                &.active {
                    animation: user-review-active 1s
                        cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;

                    @keyframes user-review-active {
                        0% {
                            transform: translateY(1000px);
                        }
                        100% {
                            transform: translateY(0);
                        }
                    }
                }

                &.prev {
                    animation: user-review-prev 1s
                        cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;

                    @keyframes user-review-prev {
                        0% {
                            transform: translateY(0);
                        }
                        100% {
                            transform: translateY(-1000px);
                        }
                    }
                }

                .data-column {
                    width: clamp(0px, 100%, 350px);
                    aspect-ratio: 1/1;

                    padding: 1.5em 1em;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    background-color: white;
                    border-radius: 16px;

                    position: relative;

                    @media screen and (max-width: 1024px) {
                        width: clamp(0px, 100%, 300px);
                    }
                    @media screen and (max-width: 768px) {
                        &:nth-child(odd) {
                            display: none;
                        }
                    }
                    @media screen and (min-width: 769px) {
                        &:nth-child(even) {
                            top: -75px;
                            scale: 1.1;
                        }
                    }

                    .user-img {
                        position: absolute;
                        top: 0;

                        width: 75px;
                        aspect-ratio: 1/1;
                        object-fit: cover;

                        border-radius: 100vmax;
                        box-shadow:
                            rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
                            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

                        transform: translateY(-50%);

                        @media screen and (max-width: 769px) {
                            width: 50px;
                        }
                    }

                    .user-stars {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        gap: 0.5vmin;

                        margin-bottom: 3em;

                        color: #f9a825;
                    }

                    .user-name {
                        line-height: 1.5em;
                        margin-bottom: 1em;
                    }
                    .user-review {
                        text-wrap: pretty;
                        text-align: center;

                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }

    section.faq {
        width: 100%;

        padding: 5vh 3vw;

        position: relative;
        isolation: isolate;

        &.active {
            .faq-wrapper {
                .faq-title {
                    svg {
                        &:nth-child(1) {
                            transform: rotate(20deg) scaleX(1) translate(0px, 0);
                        }
                        &:nth-child(2) {
                            transform: rotate(-20deg) scaleX(-1)
                                translate(0px, 0);
                        }
                    }
                }
            }
        }
        .faq-wrapper {
            width: clamp(0px, 100%, 1000px);
            height: 100%;

            margin: 0 auto;

            display: flex;
            align-items: center;
            flex-direction: column;

            .faq-title {
                margin-bottom: 0.5em;

                white-space: nowrap;

                overflow: hidden;

                svg {
                    margin: 0 0.5em;

                    transform-origin: center center;

                    will-change: transform;
                    transition: transform 1s
                        cubic-bezier(0.45, 0.02, 0.09, 0.98);

                    transform: rotate(0) translate(0px, 100px);

                    &:nth-child(1) {
                        transform: rotate(0) scaleX(-1) translate(0px, 200px);
                    }
                    &:nth-child(2) {
                        transform: rotate(0) scaleX(1) translate(0px, 200px);
                    }
                }
            }

            .faq-subheader {
                text-align: center;
            }

            .questions-wrapper {
                width: clamp(0px, 100%, 750px);

                display: flex;
                flex-direction: column;

                margin-top: 4em;

                .faq-row {
                    width: 100%;

                    display: flex;
                    flex-direction: column;

                    border-top: 1px solid var(--ten-percent);

                    padding: 2em 0;

                    max-height: 5em;
                    overflow: hidden;

                    will-change: max-height, height;
                    transition: 2s cubic-bezier(0.45, 0.02, 0.09, 0.98);

                    &:last-child {
                        border-bottom: 1px solid var(--ten-percent);
                    }

                    &.active {
                        max-height: 1000px;

                        .faq-q {
                            svg {
                                transform: scaleY(1);
                            }
                        }
                    }

                    .faq-q {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        svg {
                            will-change: transform;
                            transform: scaleY(-1);

                            margin-bottom: auto;

                            transition: 0.2s
                                cubic-bezier(0.45, 0.02, 0.09, 0.98);
                        }

                        .q-header {
                            margin-bottom: 1em;
                        }
                    }
                    .faq-a {
                        line-height: 1.8em;
                    }
                }
            }
        }

        .faq-bg-img {
            position: absolute;

            width: 500px;
            aspect-ratio: 1 / 1;

            object-fit: cover;

            filter: blur(5px);
            rotate: 20deg;

            will-change: transform;
            transition: 0.5s ease-in-out;

            z-index: -1;

            animation: img-float infinite 5s linear;

            &:not(.reverse) {
                top: 15%;
                right: 0;
            }

            &.reverse {
                scale: -1 1;

                top: 40%;
                left: 0;
                rotate: -20deg;
            }

            @keyframes img-float {
                0% {
                    transform: translatey(0px);
                }
                50% {
                    transform: translatey(-25px);
                }
                100% {
                    transform: translatey(0px);
                }
            }

            @media screen and (max-width: 1440px) {
                width: 400px;

                &:not(.reverse) {
                    right: -100px;
                }

                &.reverse {
                    left: -100px;
                }
            }
            @media screen and (max-width: 1024px) {
                width: 300px;
                opacity: 0.7;

                &:not(.reverse) {
                    right: -100px;
                }

                &.reverse {
                    left: -100px;
                }
            }

            @media screen and (max-width: 768px) {
                display: none;
            }
        }
    }

    section.download {
        width: 100%;

        min-height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7vh 3vw;

        .download-wrapper {
            width: clamp(0px, 100%, 1500px);

            display: flex;
            justify-content: space-between;

            aspect-ratio: 2 / 1;

            padding: 5%;

            border-radius: 3rem;
            background: #f25657;

            color: white;

            transition: 0.3s ease-in-out;

            @media screen and (max-width: 768px) {
                flex-direction: column-reverse;
                align-items: center;
                gap: 1em;

                padding: 3em 5%;
            }

            aside.download-data {
                width: clamp(0px, 100%, 500px);
                display: flex;
                flex-direction: column;
                justify-content: center;

                .download_subheader {
                    opacity: 0.7;
                    margin-bottom: 0.5em;
                }

                .download_head {
                    font-size: clamp(1.2rem, 2.3vw + 0.7rem, 2.1rem);
                    line-height: 1.5em;
                    margin-bottom: 0.5em;
                    text-wrap: pretty;
                }

                .download-p {
                    margin-bottom: 3em;
                }

                .download-links {
                    width: 100%;

                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    grid-column-gap: 36px;
                    grid-row-gap: 26px;

                    @media screen and (max-width: 425px) {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        img {
                            width: 100%;
                        }

                        .web-download {
                            width: 100%;
                        }
                    }

                    img {
                        filter: blur(3px);
                        width: clamp(0px, 100%, 200px);
                        cursor: progress;
                    }

                    .web-download {
                        display: flex;
                        align-items: center;
                        gap: 0.5em;

                        width: clamp(0px, 100%, 200px);
                        height: 60px;

                        background-color: red;
                        border-radius: 6px;

                        text-align: center;

                        box-shadow:
                            rgba(255, 255, 255, 0.25) 0px 0px 40px -2px,
                            rgba(255, 255, 255, 0.3) 0px 18px 36px -18px;

                        cursor: pointer;

                        padding: 1em 1.3em;
                        color: white;

                        svg {
                            background-color: inherit;

                            g {
                                filter: drop-shadow(0px 0px 36px white);
                            }
                        }

                        span {
                            margin: 0 auto;
                        }
                    }

                    @media screen and (max-width: 1024px) {
                        img {
                            width: clamp(0px, 100%, 170px);
                        }
                        .web-download {
                            width: clamp(0px, 100%, 170px);
                            height: 50px;
                        }
                    }
                }
            }

            aside.download-imgs {
                width: 50%;
                aspect-ratio: 1/1;

                display: flex;
                align-items: center;
                justify-content: center;

                @media screen and (max-width: 768px) {
                    width: 100%;
                    max-height: 400px;
                }
                @media screen and (max-width: 425px) {
                    max-height: 300px;
                }

                .imgs-wrapper {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    position: relative;
                    isolation: isolate;

                    img {
                        height: 100%;

                        will-change: transform;
                        transition: 0.3s;

                        &.main {
                            z-index: 2;
                        }
                        &:not(.main) {
                            transform: translateX(0%) scale(0.8);

                            position: absolute;
                            z-index: 1;
                        }

                        &.first {
                        }
                        &.sec {
                        }
                    }
                }
            }
        }
    }

    section.contact-us {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 2em;

        @media screen and (min-width: 426px) {
            min-height: 120vh;
        }

        .contact-header {
            position: relative;
            isolation: isolate;

            margin-bottom: 1em;

            width: fit-content;

            span {
                text-align: center;
                white-space: nowrap;

                max-width: 100%;

                &.text {
                    opacity: 0.12;
                    position: relative;
                }
                &.text-hover {
                    position: absolute;
                    inset: 0;
                    overflow: hidden;

                    will-change: width, height;
                }
            }
        }

        .contact-subheader {
            position: relative;
            isolation: isolate;

            width: fit-content;

            span {
                text-align: center;
                white-space: nowrap;

                max-width: 100%;

                &.text {
                    opacity: 0.12;
                    position: relative;
                }
                &.text-hover {
                    position: absolute;
                    inset: 0;
                    overflow: hidden;

                    will-change: width, height;
                }
            }
        }

        .contact-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: calc(10vw + 20px);

            padding: 2em 3vw;
            margin-top: 10em;

            width: clamp(0px, 100%, 1500px);

            position: relative;

            // @media screen and (max-width: 1440px) {
            //     width: 1200px;
            // }
            @media screen and (max-width: 1024px) {
                margin-top: 4em;
            }

            aside.contact-form {
                width: clamp(0px, 100%, 500px);

                display: flex;
                flex-direction: column;

                margin-left: auto;

                .form-subheader {
                    opacity: 0.7;
                    margin-bottom: 1.5em;

                    @media screen and (max-width: 425px) {
                        opacity: 1;
                        color: white;
                    }
                }
                .input-name {
                }
                .input-email {
                }
                .input-msg {
                    resize: none;
                    margin-bottom: 2em;
                }

                input,
                textarea {
                    color: black;
                    background-color: #ffffff00;
                    border: 2px solid #d5d5d5;

                    margin-bottom: 1em;
                    padding: 0.7em 0.5em;

                    border-radius: 10px;
                    backdrop-filter: blur(15px);

                    @media screen and (max-width: 768px) {
                        background-color: rgba(255, 255, 255, 0.9);
                    }
                }

                .send-cta {
                    align-items: center;
                    display: flex;
                    gap: 1em;
                    width: fit-content;
                    border-radius: 8px;

                    color: white;
                    background-color: var(--ten-percent);
                    padding: 1em 3em;

                    svg {
                        transition: 0.3s ease-in-out;
                    }

                    &:hover {
                        svg {
                            transform: translateX(-0.5em);
                        }
                    }
                }
            }
            aside.contact-img {
                width: 1500px;
                aspect-ratio: 2 / 1;

                display: grid;
                place-items: center;

                position: absolute;
                left: 0;

                transform: translateX(-25%);

                border-radius: 50px;

                overflow: hidden;
                z-index: -1;

                @media screen and (max-width: 1440px) {
                    width: 1200px;
                }
                @media screen and (max-width: 1024px) {
                    width: 1000px;
                }

                img {
                    width: 100%;
                    height: 100%;

                    object-fit: cover;
                }
            }
        }
    }
}
